target/
**/target/

*.rlib
*.rmeta
**/*.rs.bk

criterion/
**/criterion/

rust-analyzer/
**/rust-analyzer/
**/.rust-analyzer/

.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

.idea/
*.iml

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*~

*.log
*.tmp
*.swp
*.swo

.env
.env.*
!.env.example

# tinygrad/
# .git2
# .git3

docs/
