name: Overview

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install tinygrad (editable)
        run: |
          uv venv
          cd tinygrad
          ls
          uv pip install -e .
          cd ..

      - name: Build
        run: cargo build --verbose


      - name: Check
        run: cargo check --verbose

  
      - name: Count LOC
        run: |
          sudo apt install -y cloc
          cloc crates/

      # - name: Run tests
      #   run: cargo test --verbose

